//-  div.container
//- - const upDog = dog.toUpperCase();
//-   p.hello Hello! my dog's name is #{dog} #{upDog}
//-   span#thisIsMyID yo!!
//-   img.dog(src="dog.jpg" alt="dog")

//- h2 this is my second header
//-   em how are you

extends layout

block content
  p Hello
